@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


html, body{
  padding: 0;
  margin: 0;
  text-align: center;
}
html{
  height: 100%;
}
body{
  min-height: 100%;
  max-width: 100%;
  background-size:  cover;
  background-repeat: no-repeat;
  background-position: right 10px top 10px;
  background-color: rgb(18, 18, 18);
  color:white;
}
*{
    -ms-overflow-style: none;
}
::-webkit-scrollbar {
    display: none;
}

.nav{
  z-index: 2;
  min-width: 100%;
}


#gif{
  align-self: right;
}

#animation{
  min-width: 100%;
}
