@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


html, body{
  padding: 0;
  margin: 0;
  color:white;
  text-align: center;
  background-color: black;
}
html{
  height: 100%;
}
body{
  min-height: 100%;
  max-width: 100%;
  background-image: url("./img/img2.png");
  background-size:  cover;
  background-repeat: no-repeat;
  background-position: right 10px top 10px;
}
*{
    -ms-overflow-style: none;
}
::-webkit-scrollbar {
    display: none;
}
#App{
}

#Section{
  min-height: 128px;
}